* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-family: Gotham Rounded, sans-serif;
}

#container {
    border-radius: 6px;
    min-width: 400px;
    min-height: 634px;
    margin-top: 100px;
    background-color: black;
}

.screen {
    height: 110px;
    margin: 12px;
    background-color: black;
    color: white;
}

.last-screen,
.current-screen {
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
}

#container-button {
    display: flex;
    flex-direction: column;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    display: flex;
    flex-grow: 1;
}

.button-number,
.button-clear,
.button-equals,
.button-operator,
.button-dot-notation,
.button-backspace {
    flex-grow: 1;
    min-width: 100px;
    min-height: 100px;
    border-radius: 6px;
    font-weight: bolder;
}

.button-number,
.button-operator,
.button-backspace,
.button-dot-notation {
    max-width: 1em;
    max-height: 1em;
}

.button-clear,
.button-equals {
    max-width: 200px;
}

.button-operator,
.button-equals,
.button-dot-notation {
    font-size: 23px;
}

.button-clear {
    background-color: red;
}

.button-backspace {
    background-color: yellow;
}

.button-equals {
    background-color: green;
}

.button-operator {
    color: orangered;
}