* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    border: 1px solid greenyellow;
    width: 500px;
    height: 500px;
    margin-top: 100px;
}

.display {
    border: 1px solid rebeccapurple;
    height: 50px;
}

#container-button {
    display: flex;
    flex-direction: column;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
    display: flex;
    flex-grow: 1;
}

.button-number,
.button-clear,
.button-equals,
.button-divide,
.button-multiple,
.button-sum,
.button-subtraction {
    flex-grow: 1;
    height: 90px;
}

.button-number {
    min-width: 130px;
}